<ion-header [translucent]="true">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

<div id="presentatio">
<center> 

  <div id = "container">
    <strong>Iglesia Roca Firme </strong> 
    <p>Bienvenido A Roca Firme Republica Dominicana</p>

  </div>
</center>
  </div>
</ion-content>
