ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  background-color: rgb(24, 23, 23);
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique,italic;
  color: black;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#presentatio{
  
 
  image-resolution: 200dpi;
  background-color: #cccccc;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}  
#logo {
  background-image: url("https://scontent.fhex4-2.fna.fbcdn.net/v/t1.6435-9/136749764_1255320631518729_481819701702031702_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=DcSnkUTQ494AX8F2hEY&tn=UXepwBeC366aM1e-&_nc_ht=scontent.fhex4-2.fna&oh=750d5d00f8a6232afa51fe32105edddf&oe=614934EF");
  border-radius: 150px;
}

#title{
  font-size: 45px;
  line-height: 26px;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique,italic;
  color: black;
}
#subti {
  font-size: 15px;
  line-height: 26px;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique,italic;
  color: black;
}

#ubicacion{
  align-self: start;
}