<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>streams</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="cards" >
  <ion-card>
    <ion-card-header>
      <video id="videoplayer" src="https://www.facebook.com/100011224127433/videos/590046758826567">
      </video>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>sigenos en FACEBOOK como 
        <a href="https://www.facebook.com/profile.php?id=100011224127433&sk=photos"> Iglesia Roca Firme RD </a>
          para ver mas contenido como este o sigue el siguiente enlace para ir 
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      
      <video id="videoplayer" src="">
      </video>
      
      <ion-card-subtitle>por ahora solo estamos en facebook pero para cualquier otro contacto  </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-label> Visitanos esperamos verte abajo estara nuestra ubicacion 
      </ion-label>
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d742.4860604629341!2d-68.96885561651085!3d18.421321413592736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf5558aab98203%3A0xfb42972e0b5f4133!2sIglesia%20Ministerio%20Cristiano%20Roca%20Firme!5e0!3m2!1sen!2sdo!4v1629914659766!5m2!1sen!2sdo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
      </iframe>
      
      <!-- 
      <ion-label>sigenos en FACEBOOK como 
        <a href="https://www.facebook.com/profile.php?id=100011224127433&sk=photos"> Iglesia Roca Firme RD </a>
          para ver mas contenido como este o sigue el siguiente enlace para ir 
      </ion-label>
      -->
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
