#imagen 
{
    background-image: url("https://scontent.fhex4-2.fna.fbcdn.net/v/t1.6435-9/61539381_803001863417277_2820942461407330304_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=e3f864&_nc_ohc=fVHctvniMd0AX9Cn9Sx&_nc_ht=scontent.fhex4-2.fna&oh=c50d4bea918f50b00a3e110216b8f0bd&oe=614A51DB");
    background-color: dimgrey;
    position: relative;
    background-size: cover;
}